name: CI
on: [push, pull_request]
jobs:
  lint:
    name: Code Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v1
      - name: Install Bun
        uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun install
      - name: Check code formatting
        run: bun lint

  test:
    name: E2E Test / ${{ matrix.os.name }}
    strategy:
      matrix:
        os:
          - name: Linux
            runner: ubuntu-latest
          - name: macOS
            runner: macos-latest
          - name: Windows
            runner: windows-latest
      # Prevent one failing job from cancelling the other ones
      fail-fast: false
    runs-on: ${{ matrix.os.runner }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v1
      - name: Install Bun
        uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun install
      - name: Download example APK
        # Download Telegram FOSS as an example APK
        # (there might be better APKs for testing, I didn't put a lot of thought into picking this one)
        run: curl --location --output example.apk https://github.com/Telegram-FOSS-Team/Telegram-FOSS/releases/download/v7.0.0/TF-BETA-THERMATK-v7.0.0.apk
      - name: Patch example APK
        run: bun src/cli.ts example.apk

  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    needs: [lint, test]
    # Only publish on pushes to main branch
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Check out repository
        uses: actions/checkout@v1
      - name: Install Bun
        uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun install
      - name: Publish to NPM
        run: bun publish
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_TOKEN }}
